:root {
  --w3css-deep-purple-l5-bg: #f6f3fb;
  --w3css-deep-purple-l3-bg: #c1ade5;
  --w3css-deep-purple-d3-bg: #482880;
  --w3css-deep-purple-theme-bg: #673ab7;
  --my-border-color: black;
}

html {
  font-size: 12px;
}

body {
  font-size: 0.875rem;
}

.title-image {
  width: 25px;
  height: 25px;
  vertical-align: text-bottom;
  margin-bottom: 2px;
  margin-top: 2px;
}

.header {
  font-size: 2rem;
}

.horizontal-rule {
  background-color: var(--w3css-deep-purple-theme-bg);
  height: 4px;
  margin: 4px 0px;
}

.blog-post-textarea  {
  /* mobile-first design */
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  border: 2px solid var(--my-border-color);
  background-color: #e9eef2;
  resize: none;
}

.p-body-historical-posts  {
  word-wrap: break-word;
}


/* not using w3.css buttons, so don't need !important to override */
.submit-button {
  border-color: var(--my-border-color);
  border-style: solid;
  background-color: var(--w3css-deep-purple-l3-bg); 
  color: var(--w3css-deep-purple-d3-bg);
}

.submit-button:hover {   
  color: var(--w3css-deep-purple-l5-bg);
  background-color: var(--w3css-deep-purple-theme-bg);
}

/* turn the "x" red and change cursor on mouse over */
.card-x-button:hover {
  cursor: pointer;
  color: red !important;
}

.blog-post-textarea, .p-body-historical-posts, .title-historical-posts, .submit-button {
  font-size: 0.7rem;
}

/* mobile-first design, body-limit-width limited to 700px max */
/* w3css of w3-col l6 m6 s12 so max two columns at 601px,
   and it'll then hit max-width of 700px soon after */
/* device emulator: works fine with JioPhone2-240px and 
   GalaxyFold-280px, looks good on iPhone4-320px */
.body-limit-width {
  max-width: 700px;
}

/* quite a few media queries for nice textarea
size to hold 140 characters max */
@media only screen and (min-width: 281px) {
  .blog-post-textarea  {
    height: 220px;
  }
  .submit-button, .blog-post-textarea, .p-body-historical-posts, .title-historical-posts, #body {
    font-size: 0.9rem;
  }
  .title-image {
    width: 35px;
    height: 35px;
  }
  .header {
    font-size: 2.85rem;
  }
}

@media only screen and (min-width: 331px) {
  .blog-post-textarea  {
    height: 200px;
  }
  .submit-button, .blog-post-textarea, .p-body-historical-posts, .title-historical-posts, #body {
    font-size: 1rem;
  }
  .title-image {
    width: 40px;
    height: 40px;
  }
  .header {
    font-size: 3.05rem;
  }
}

@media only screen and (min-width: 401px) {
  .blog-post-textarea  {
    height: 180px;
  }
  .submit-button, .blog-post-textarea, .p-body-historical-posts, .title-historical-posts, #body {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 501px) {
  .blog-post-textarea  {
    height: 160px;
  }
}

@media only screen and (min-width: 601px) {
  .title-image {
    height: 45px;
    width: 45px;
  }
  .horizontal-rule {
    height: 6px;
    margin: 6px 0px; 
  }
  .blog-post-textarea  {
    height: 250px;
  }
  .header {
    font-size: 3.25rem;
  }
}

@media only screen and (min-width: 701px) {
  .blog-post-textarea  {
    height: 220px;
  }
}