:root {
  --w3css-deep-purple-l5-bg: #f6f3fb;
  --w3css-deep-purple-l3-bg: #c1ade5;
  --w3css-deep-purple-d3-bg: #482880;
  --w3css-deep-purple-theme-bg: #673ab7;
  --my-border-color: black;
}

.title-image {
  width: 40px;
  height: 40px;
  vertical-align: text-bottom;
  margin-bottom: 2px;
  margin-top: 2px;
}

.header {
  font-size: 30px;
}

.horizontal-rule {
  background-color: var(--w3css-deep-purple-theme-bg);
  height: 4px;
  margin: 4px 0px;
}

.blog-post-textarea  {
  width: 100%;
  /* mobile first design for 340px width resolution */
  height: 240px;
  box-sizing: border-box;
  border: 2px solid var(--my-border-color);
  background-color: #e9eef2;
  font-size: 16px;
  resize: none;
}

.p-body-historical-posts  {
  word-wrap: break-word;
}

/* not using w3.css buttons, so don't need !important to override */
.submit-button {
  border-color: var(--my-border-color);
  border-style: solid;
  background-color: var(--w3css-deep-purple-l3-bg); 
  color: var(--w3css-deep-purple-d3-bg);
  font-size: 12px;  
}

.submit-button:hover {   
  color: var(--w3css-deep-purple-l5-bg);
  background-color: var(--w3css-deep-purple-theme-bg);
}

/* turn the "x" red and change cursor on mouse over */
.card-x-button:hover {
  cursor: pointer;
  color: red !important;
}

/* quite a few media queries for nice textarea
size  to hold 140 characters max */
@media only screen and (min-width: 401px) {
  .blog-post-textarea  {
    height: 200px;
  }
}

@media only screen and (min-width: 501px) {
  .blog-post-textarea  {
    height: 160px;
  }
}

@media only screen and (min-width: 601px) {
  .title-image {
    height: 45px;
    width: 45px;
  }
  .header {
    font-size: 35px;
  }
  .horizontal-rule {
    height: 6px;
    margin: 6px 0px; 
  }
  .blog-post-textarea  {
    height: 250px;
  }
}

@media only screen and (min-width: 701px) {
  .blog-post-textarea  {
    height: 220px;
  }
}

@media only screen and (min-width: 801px) {
  .blog-post-textarea  {
    height: 200px;
  }
}

@media only screen and (min-width: 901px) {
  .blog-post-textarea  {
    height: 180px;
  }
}

@media only screen and (min-width: 993px) {
  .title-image {
    height: 55px;
    width: 55px;
  }
  .header {
    font-size: 45px;
  }
  .horizontal-rule {
    height: 8px;
    margin: 8px 0px; 
  }
  /* after w3css large, fix the textarea size */
  .blog-post-textarea  {
    height: 180px;
    width: 450px;
  }
}