<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="./static/css/style.css">

  <title>Microblog</title>
</head>

<body>
  <main class="w3-container">
    <!-- Header -->
    <header>
      <h1>Microblog <img class="title-image" src="./static/images/write.png" alt="blog logo"></h1>
    </header>

    <!-- Dual navbars, one hidden while the other is shown -->
    <nav class="w3-bar w3-blue w3-padding w3-round-large w3-hide-small">
      <div class="w3-right">
        <a href="https://www.python.org/" class="w3-bar-item w3-button w3-mobile">Python</a>
        <a href="https://flask.palletsprojects.com/" class="w3-bar-item w3-button w3-mobile">Flask</a>
        <a href="https://www.mongodb.com/" class="w3-bar-item w3-button w3-mobile">MongoDB</a>
      </div>
    </nav>
    <nav class="w3-bar w3-blue w3-padding w3-round-large w3-hide-medium w3-hide-large">
      <div class="w3-center">
        <a href="https://www.python.org/" class="w3-bar-item w3-button w3-mobile">Python</a>
        <a href="https://flask.palletsprojects.com/" class="w3-bar-item w3-button w3-mobile">Flask</a>
        <a href="https://www.mongodb.com/" class="w3-bar-item w3-button w3-mobile">MongoDB</a>
      </div>
    </nav>

    <section class="w3-container w3-margin">
      <!-- row start -->
      <div class="w3-row-padding">

        <!-- left column start -->
        <div class="w3-col l6 m6">
          <div class="w3-container w3-margin-bottom">
            <p class="w3-xlarge">Add new post</p>
            <form method="POST">
              <p class="w3-large">
                <label for="entry">
                  Entry:
                </label>
                <br>
                <textarea name="content" id="entry" wrap="hard"></textarea>
              </p>
              <button type="submit" class="w3-button w3-round w3-blue">Submit</button>
            </form>
          </div>
        </div>
        <!-- left column end -->

        <!-- right column start -->
        <div class="w3-col l6 m6">
          {% for entry in entries %}
          <!-- card -->
          <div class="w3-container w3-margin-top w3-margin-bottom">
            <div class="w3-card-4">
              <header class="w3-container w3-blue">
                <h4>{{ entry[0] | truncate(30, true) }}</h4>
              </header>
              <div class="w3-container">
                <p>{{ entry[0] }}</p>
              </div>
              <footer class="w3-container w3-blue">
                <time datetime="{{ entry[1] }}">{{ entry[1] }}</time>
              </footer>
            </div>
          </div>
          {% endfor %}

        </div>
        <!-- right column end -->

      </div>
      <!-- row end -->
    </section>
  </main>
</body>

</html>