<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./static/images/favicon.png">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link rel="stylesheet" href="./static/css/w3.css">
  <link rel="stylesheet" href="./static/css/w3-deep-purple.css">
  <link rel="stylesheet" href="./static/css/style.css">

  <title>Microblog</title>
</head>

<body class="w3-theme-l4">
  <div class="w3-container">
    <!-- row start -->
    <main class="w3-row-padding">

      <!-- left column start: textarea for writing new blog post -->
      <section class="w3-col l6 m6">
        <div class="w3-margin-bottom">
          <form method="POST">
            <p>
              <label for="entry">
                <img class="title-image" src="./static/images/write.png" alt="blog logo">
              </label>
              <br>
              <textarea name="content" id="entry" maxlength="140" placeholder="new post..."></textarea>
            </p>
            <button type="submit" class="w3-button w3-theme my-hover-theme" name="BlogButtons"
              value="submit">Submit</button>
          </form>
        </div>
      </section>
      <!-- left column end -->

      <!-- right column start: cards of deleteable blog posts in descending order -->
      <section class="w3-col l6 m6">
        {% for entry in entries %}
        <!-- card -->
        <div class="w3-card w3-theme-d5 w3-margin-top">
          <!-- header -->
          <div class="w3-bar">
            <time class="w3-bar-item w3-small" datetime="{{ entry[1] }}">{{ entry[1] }}</time>
            <form action="#" method="POST">
              <button type="submit" class="w3-bar-item w3-theme-d5 w3-tiny w3-right my-hover-theme" name="BlogButtons"
                value="{{ entry[2] }}">&#10006;</button>
            </form>
          </div>
          <!-- body -->
          <div class="w3-container w3-theme-l3">
            <p>{{ entry[0] }}</p>
          </div>
        </div>
        {% endfor %}
        <br>
      </section>
      <!-- right column end -->

    </main>
    <!-- row end -->
  </div>
</body>

</html>